 h1{
            background-color: lightblue; 
            border-radius: 10%;
            font-family:'Courier New', Courier, monospace; 
            padding: 4%; 
            margin-left: 2%; 
            margin-right: 2%; 
            text-align: center; 
        }
body{
            font-family: 'Courier New', Courier, monospace; 
            background-color: lightskyblue; 
        }

.underline {
            text-decoration: underline;
        }

.list {
            background-color: lightblue;
            padding-top: 3%; 
            padding-bottom: 3%;
            border-radius: 5%; 
            margin-left: 10px; 
            margin-right: 10px; 
            
        }
img {
    border-radius: 25%; 
    /* display: block;
    margin: auto;   */
    width: 400px; 
    border-color: white; 
}

span {
    text-decoration: underline; 
}

.footer {
    text-align: center; 
}